@import "./common-variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
textarea,
select,
ul,
ol,
pre,
blockquote,
section,
hr {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
