$font-color: var(--cw-font-color);
$font-color-secondary: var(--cw-font-color-secondary);
$font-size: 16px;

$spacing-base: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

$transition-base: all 0.3s;
$transition-base-ease-out: all 0.3s ease-out;

$border-radius: 6px;
$border-color: var(--cw-border-color);

$bg-color: var(--cw-bg-color);
$bg-color-base: var(--cw-bg-color-base);
$bg-color-overlay: var(--cw-bg-color-overlay);

$box-shadow: 0px 0px 1px 1px var(--cw-shadow-color);
