$font-color: rgba(255, 255, 255, .87);
$font-color-secondary: #888;
$font-size: 16px;

$spacing-base: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

$transition-base: all 0.3s;
$transition-base-ease-out: all 0.3s ease-out;

$border-radius: 6px;
$border-color: rgb(70 70 70);

$bg-color: rgb(27 27 27);
$bg-color-base: rgb(33 33 33);
$bg-color-overlay: rgb(39 39 39);

$box-shadow: 0px 0px 1px 1px rgba(255,255,255,0.1);
