@use './common-variables.scss' as *;
@use "base";
@use "public";

html.dark {
  color-scheme: dark;
}

body {
  font-family: "JetBrains Mono", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  color: $font-color;
  background-color: $bg-color;
  font-size: 14px;
}
